#quiz-question{
    text-align: left;
    margin: 75px 15%;
    display: none;
}
#quiz-question h1{
    text-align: left;
    font-weight: bolder;
    font-size: 2em;
    min-width: 275px;
}
#quiz-question div{
    display: inline-grid;
}
#quiz-question button:hover{
    background-color: #a430de;
}
.quiz-button {
    min-width: 275px;
    text-align: left;
}