*{
    font-size: 21px;
}
header{
    display: flex;
    justify-content: space-between;
}
#view-high-score {
    color: pink;
    padding-left: 40px;
    
}
#time {
    color: black;
    padding-right: 40px;
}

.button{
    background-color: #40055d; 
    border: none;
    color: white;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
#quiz-question{
    text-align: left;
    margin: 75px 15%;
}
#quiz-question h1{
    text-align: left;
    font-weight: bolder;
    font-size: 2em;
    min-width: 275px;
}
#quiz-question div{
    display: inline-grid;
}
#quiz-question button:hover{
    background-color: #a430de;
}
.quiz-button {
    min-width: 275px;
    text-align: left;
}